.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.abc {
  width : 230px;
  height :150px;
  border-radius: 50px;
  border: 1px solid #707070;
}

.dev{
  background-color: #ff0000 ;
}

.adm{
  background-color: #00ff44 ;
}

.add{
  background-color: #ffff00;
}

.mar{
  background-color: #0044ff;
}

.card{
  background-color: #D9ED8A;
}

/* @media (max-width:768px){
  .h3 {font-size:1.25rem;}
} */